<!DOCTYPE html>
<html id="HautPage" lang="fr">

<head>
    <title>L'Atelier d'Alegolas 91 : L'Atelier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/HC/headerHC.css" type="text/css">
    <link rel="stylesheet" href="/css/common/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/common/sidebar.css" type="text/css">
    <link rel="stylesheet" href="/css/common/general.css" type="text/css">
    <link rel="stylesheet" href="/css/HC/services/servicesDécorsHC.css" type="text/css">
</head>

<body>
    <%- include('../headerHC') -%>
    <main id="conteneur" class="well small-lg">
        <%- include('../../common/sidebar') -%>
        <div id="content" class="well small-lg">
            <h3>
                Informations sur le service de décors :
            </h3>
            <p>
                Avant toute chose, retenez que je suis l'outil de votre imagination pour ce service. En effet, dans mon
                esprit, rien n'est impossible pour recréer un décor ou une atmosphère particulière. Pour ce service,
                voici une liste non exhaustive des informations qu'il me faut pour vous réaliser un décor en
                particulier, libre à vous d'imaginer votre décor :
            </p>
            <p>
                - Un thème général : Jungle, ruines antiques, démon, désert, glace etc...
                <br>
                - La taille des socles pour des décors modulables ainsi que la forme des socles : rectangulaires,
                arrondies, irréguliers ...
                <br>
                - La hauteur du décor
                <br>
                - Les éléments que vous voudriez voir apparaître sur votre décor
                <br>
                - La couleur et le style de flocage désiré
                <br>
                - Et en bonus, vous pouvez fournir des images d'inspirations !
            </p>
            <p>
                Il vous est également possible de me demander de réaliser une table de jeu entière à thème. Cela peut
                être une table composée de plusieurs morceaux modulables par exemple ou de plus petits plateaux de
                présentations. Pour ce genre de projet, passez directement sur mon mail pour en discuter, je serai ravi
                d'y participer, j'adore pouvoir donner vie à une table de jeu unique !
            </p>
            <p>
                Les prix peuvent varier selon le prix des matériaux utilisés et la difficulté de réalisation du projet.
                C'est pour cela qu'il faut absolument que l'on discute de votre projet avant pour que je puisse vous
                proposer un devis le plus détaillé et le plus clair possible.
            </p>
            <hr>
            <p>
                Exemple de projets de tables et éléments de décors :
            </p>
            <br>
            <figure>
                <a href="/images/services/décors/décors1.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/services/décors/décors1.jpg" alt="Photo 1 de décors">
                </a>
            </figure>
            <figure>
                <a href="/images/services/décors/décors2.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/services/décors/décors2.jpg" alt="Photo 2 de décors">
                </a>
            </figure>
            <figure>
                <a href="/images/services/décors/décors3.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/services/décors/décors3.jpg" alt="Photo 3 de décors">
                </a>
            </figure>
            <figure>
                <a href="/images/services/décors/décors4.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/services/décors/décors4.jpg" alt="Photo 4 de décors">
                </a>
            </figure>
            <figure>
                <a href="/images/services/décors/décors5.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/services/décors/décors5.jpg" alt="Photo 5 de décors">
                </a>
            </figure>
            <figure>
                <a href="/images/services/décors/décors6.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/services/décors/décors6.jpg" alt="Photo 6 de décors">
                </a>
            </figure>
            <figure>
                <a href="/images/services/décors/décors7.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/services/décors/décors7.jpg" alt="Photo 7 de décors">
                </a>
            </figure>
            <figure>
                <a href="/images/services/décors/décors8.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/services/décors/décors8.jpg" alt="Photo 8 de décors">
                </a>
            </figure>
            <br>
            <p>
                <a id="lien" href="/Catégories/Décors">Retrouvez l'ensemble des réalisations des décors sur cette page
                    du site !</a>
            </p>
            <hr>
            <h5>
                Délais et livraison :
            </h5>
            <br>
            <p>
                Veuillez noter que les décors de petites ou moyennes tailles vous seront envoyés par colis. Vous devrez
                donc régler le prix du colis. Colis qui sera surdimensionné et protégé.
            </p>
            <p>
                En ce qui concerne des tables de jeu à thème de taille volumineuses, la remise en main propre se fait à
                domicile, à Montpellier (34), prévoyez le potentiel déplacement ! N'hésitez pas à me contacter pour de
                plus amples informations.
            </p>
            <p>
                Pour les délais concernant la réalisation de votre commande, je vous les donnerai à titre indicatif car
                certains décors seront bien entendu plus rapide que d'autres !
                <br>
                Sachez que des photos de l'avancée de votre décor vous seront envoyées à chaque étape et régulièrement,
                ainsi vous pouvez suivre le délai approximatif de votre commande et bien sûr, l'évolution de votre
                projet comme si vous y étiez !
            </p>
            <hr>
            <h5>
                Paiement de votre commande :
            </h5>
            <br>
            <p>
                Je suis assez ouvert concernant le règlement de votre commande. J'accepte le règlement par Paypal (plus
                rapide mais des éventuels frais à prévoir) sinon par chèque ou virement bancaire. (ou en liquide
                exclusivement sur remise en main propre sur Montpellier (34)). Bref, vous avez l'embarras du choix !
            </p>
            <p>
                Sachez également que je ne demande aucun règlement avant d'avoir fini complètement une commande. Par
                contre, j'expédie un colis uniquement après règlement, ce qui est plutôt logique finalement !
                <br>
                Il n'y a que dans le cas de grands projets de décors que je peux exceptionnellement demander un acompte
                pour l'achat éventuel de matériaux qui serviront à la réalisation du projet.
            </p>
        </div>
        <div id="retourAccueil">
            <a href="/Accueil">Retour à l'Accueil</a>
        </div>
    </main>
    <%- include('../../common/footer') -%>
</body>

</html>