<header id="header" class="well well-sm">
    <div class="row">
        <div id="logo" class="col-sm-2">
            <a href="/Accueil">
                <img id="imgLogo" src="/images/common/logo.jfif" alt="Logo Atelier">
            </a>
        </div>
        <div class="col-sm-8">
            <h1 id="titre">L'Atelier d'Alegolas91</h1>
            <br>
            <h4>
                L'Atelier d'Alegolas91 rassemble les informations sur mes services de peinture et de décors.
                <br>
                Vous y retrouverez également l'ensemble des réalisations de précédentes commandes.
                <br>
                <br>
                Bonne visite !
            </h4>
        </div>
    </div>
    <nav id="MenuBarre" class="navbar fixed-top navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Accueil">Accueil</a>
                </div>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">Services<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Accueil">Services de Peinture</a></li>
                        <li><a href="/Accueil">Services de Décors</a></li>
                        <li><a href="/Accueil">Services Annexes</a></li>
                    </ul>
                </li>
                <li><a href="/Formations">Formations</a></li>
                <li><a href="/Qui-suis-je">Qui suis-je ?</a></li>
                <li><a href="/Accueil">Livre d'Or</a></li>
                <li><a href="/Accueil">Connexion</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-left" action="/Accueil">
                        <div class="input-group">
                            <input id="recherche" type="text" class="form-control" placeholder="Rechercher ...">
                            <div class="input-group-btn">
                                <button id="boutonRecherche" class="btn btn-secondary" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>