/* Style du main */

#conteneur{
    overflow: auto;
    border-color: darkgray;
}
#content{
    overflow: hidden;
    background-color: lightgray;
    border-color: darkgray;
}
h3{
    font-size: 200%;
    font-family: "SDA";
    font-style: italic;
    color: black;
    margin-bottom: 5%;
    text-decoration: underline;
}
p{
    font-size: larger;
    color: black;
    text-align: justify;
}
nav{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
#title{
    font-size: 200%;
}
#txt{
    padding-left: 5%;
    font-size: 120%;
    color: black;
    font-style: italic;
}
a:link{
    text-decoration: none;
}
#retourAccueil{
    color: lightblue;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    text-decoration: underline;
}